__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/
.eggs/
dist/
build/
*.I

# EPICS build products
/bin/
/lib/
/dbd/
/db/
/include/
/configure/CONFIG.PyDevice
**/O.*/
**/O.Common/
*.d
*.so
*.a
envPaths
configure/RELEASE.local
